# Data cleanising 

> Author: Andrzej Kocielski  
> Created on: 04.09.2022


This is cleansing of a messy excel file exercise. It is based on various of sources, prominently on articel by Carsteb Sandtner at:
https://towardsdatascience.com/pandas-has-superpowers-in-reading-excel-files-44344bfdaac

___

## Importing packages

In [29]:
# import numpy as np
import pandas as pd

## Getting the data

The data file - the messy excel file - has been downloaded from 
The sample excel file has been taken from: https://github.com/casarock/pandas_excel_reader/blob/master/complex_file.xlsx and filed under the name `complex_file.xlsx` in "Raw_data" directory within this project directory.

In [24]:
# Load the data into raw dtat frame

file_name = r'complex_file.xlsx'
path = r'Raw_data/'

source = path + file_name
print(source)

rdf = pd.read_excel(source)

Raw_data/complex_file.xlsx

In [25]:
rdf.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Dramatic Headline!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Type 1,NaN,Confident,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JA,Headline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# Number of rows
len(rdf)
type(rdf)

pandas.core.frame.DataFrame

In [61]:
# pd.read_excel("complex_file.xlsx", sheet_name=['Sheet 1', 2, 3], header=9, usecols="A,B,D:H", nrows=19, dtype={'#': np.object})

excel_data = pd.read_excel(source, sheet_name=[0, 1, 'Sheet 3'], header=9, usecols="A,B,D:H", nrows=19) # sheet_name[0] means first worksheet in the excel file
type(excel_data) # dict

# iterate through the keys of the dictionary; from: https://stackoverflow.com/a/47769062
# for key in excel_data:
#      print(excel_data[key].head())

# convert to data frame
first_sheet = excel_data[0]

type(first_sheet) # DataFrame

pandas.core.frame.DataFrame

In [54]:
first_sheet.head()

,Unnamed: 0,Ipsum lorem dae 4m,0,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Ipsum lorem dae 8m,-1234.52,NaN,NaN,NaN,NaN
1,NaN,Ipsum lorem dae 1m,-15000,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Ipsum lorem dae Sum 1,659.12,NaN,NaN,NaN,NaN
4,NaN,Ipsum lorem dae Sum 2,557.793139,NaN,NaN,NaN,NaN